[flake8]
max-line-length = 120
ignore = E501, F541, D100, D101, D102, D103, D104, D107, D200, D204, D205, D400, D401
exclude =
    .git,
    __pycache__,
    .venv,
    .pytest_cache,
    .ruff_cache,
    build,
    dist 